<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>Debug Command</Title>
      <Shortcut>debug</Shortcut>
    </Header>
    <Snippet>
      <Code Language="CSharp">
        <![CDATA[private void $name$(CommandInteraction ctx)
    {
        $func$
    }]]>
      </Code>
      <Declarations>
        <Literal>
          <ID>name</ID>
          <ToolTip>Name of command in lowercase.</ToolTip>
          <Default></Default>
        </Literal>
        <Literal>
          <ID>func</ID>
          <ToolTip>Execution function body.</ToolTip>
          <Default></Default>
        </Literal>
      </Declarations>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>
